{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head><title>{{ block "title" . }}Home{{ end }}</title></head>

<body>
	{{ template "content" . }}
	<footer>Generated at {{ time }}</footer>
</body>

</html>
{{ end }}
